@{
    ViewData["Title"] = "About";
}

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Carrers</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>IV Dimension Studios is hiring all sorts of talent. We are currently hiring Unity3D devs interested in mobile technologies, we are looking for 3D artists working in blender. People intersted in Unreal will be working on PC, Xbox, PS3 titles</p>
            </div>
            <div class="col-lg-4">
                <p>In order to apply to apply for the job please download the Sample Application from below button, Fill the application and send us your resume at hr@ivdstudios.com</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i>Application Form
                </a>
            </div>
        </div>
    </div>
</section>